@import "~bootstrap/scss/bootstrap.scss";

.panel{
    height: 500px;
    border:1px solid orange;
}
.container{
    border:1px solid green;
    max-height: 500px;
}
.header{
    border:1px solid red;
    background-image:url("../../public/bg.jpeg");
    background-repeat:no-repeat ;
    background-size: cover;
    border-bottom:6px solid orange;
}
.footer{
    border:1px solid blue;
}
.main-logo{
    width: 100px;
    height: 100px;
}
.neg-m-l-20{
    margin-left: -20px;
}
.header-main-label{
    font-size: 2rem;
    font-weight: bold;
}
.header-sub-label{
    font-size: 0.75rem;
    font-weight: 800;
    color: $gray-800;
}